.Login {

    padding-top: 50px;
        
    Form {
        background-color: #eee;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

        .logo {
            width: 120px;
            padding-bottom: 40px;
        }

        .label {
            visibility: hidden;
        }

        .error {
            font-size: 0.9em;
            color: #f44;
        }
    }
}